@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    box-sizing:border-box;
    min-height: 95vh;
    background-color: #424242;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
  }
.xyz {

    width: 420px;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 100px rgb(0, 0, 0, .2);
    border-radius: 15px;
    padding: 30px 40px;
    
}
#container {

    width: 200px;
    padding: 8px 8px 20px 8px;
    margin: 20px auto;
    background:none;
    border-radius: 8px;
    border: none;
    justify-content: center;
    align-items: center;
}
#display {
    
    display: flex;
    margin: 15px auto;
    height: 42px;
    width: 174px;
    padding: 0 10px;
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255, .2);
    background-color: rgb(255, 255, 255, .2);;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    font-size: 28px;
    color: #000000;
    text-align: right;
    font-weight: 400;
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
  }
  

  .button {

    display: inline-block;
    margin: 2px;
    width: 42px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    background-color: rgb(255, 255, 255, .2);
    border: none;
    backdrop-filter: blur(20px);
  }
  .mathButtons {

    margin: 2px 2px 6px 2px;
    color: #FFF;
    text-shadow:none;
    background-color: #434343;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    background-color: rgb(255, 255, 255, .1);
    border: none;
    backdrop-filter: blur(20px);
  }
  
  .digits {

    color: rgb(255, 255, 255);
    background-color: #EBEBEB;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #C1C1C1;
    border-left: 2px solid #C1C1C1;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    background-color: rgb(255, 255, 255, .1);
    border: none;
    backdrop-filter: blur(20px);
  }
  
  #clearButton {

    color: #FFF;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    background-color: rgb(255, 255, 255, .1);
    border: none;
    backdrop-filter: blur(20px);
  }
  .digits:hover,
  .mathButtons:hover,
  #clearButton:hover {

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px #FFBA75;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    background-color: rgb(255, 255, 255, .1);
    border: none;
    backdrop-filter: blur(20px);
  }
